<nb-layout>

  <nb-layout-header fixed>
    <h2>STOCKSAPP : Live Stock  
        <nb-search type="column-curtain" placeholder="Search stock code" hint="Search"></nb-search>
    </h2>
  </nb-layout-header>
  <nb-layout-column>
      <nb-card accent="info">
          <nb-card-header>Fetching live updates for Stock code (In progress):</nb-card-header>
          <nb-card-body>
            <h3>{{ value || '-' }}</h3>
          </nb-card-body>
        </nb-card>
    <div *ngFor="let stock of arrayData">
      <nb-card status={{stock.status}}>
        <nb-card-header>Stock Code
          <button nbTooltip="Click to view more details" nbButton outline status={{stock.status}} size="small">
            {{stock.name}}
          </button>  &nbsp;  &nbsp; &nbsp;
          Difference : {{stock.diff}}
        </nb-card-header>
        <nb-card-body>
          <b>Price :</b> {{stock.price}} &nbsp;  &nbsp; &nbsp; <b>Last Updated Time :</b> {{stock.time}}
        </nb-card-body>
        <!-- <nb-card-footer>
            </nb-card-footer> -->
      </nb-card>
    </div>



  </nb-layout-column>

  <nb-layout-footer fixed>
    <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>